 #card1,#card2,#card3{
  top: 400px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  background-color: rgba(204, 35, 35, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
#vidro{
  background-color: brown;
  
}
